@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');


/*      colors      */

body {
  background-color: #fafafa;
}

.navbar {
  background-color: #fafafa;

}

.navbar-item {
  background-color: #3f3f3f;
  color: #fafafa;
}

.navbar span {

  color: #fafafa;
}

.welcome {
  background-color: #fafafa;
  color: #3f3f3f;
}

.info-k-fit {
  background-color: #fafafa;
}

.mma-info {
  background-color: #fafafa;
  color: #3f3f3f;
}

.info {
  background-color: #fafafa;
}

.footer {
  background-color: #3f3f3f;
}

/*      body      */

body {
  margin: 0;
  padding: 0;
  height: 100vw;
}

/*      NAVBAR      */

/*    Mobile Navbar   */
#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #fafafa;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #a6178f;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

/*    hamburger   */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #a6178f;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*    Transform all the slices of hamburger into a crossmark.   */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #3f3f3f;
}

/*    But let's hide the middle one.    */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*    Ohyeah and the last one should go the other direction   */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*    Make this absolute positioned at the top left of the screen   */
#menu
{
  position: fixed;
  width: 211px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #3f3f3f;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*    And let's slide it in from the left   */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.topnav {
  overflow: hidden;
  background-color: #3f3f3f;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fafafa;
  color: #a6178f;
}

.topnav a.active {
  background-color: #3f3f3f;
  color: #fafafa;
}

.topnav .icon {
  display: none;
}
.topnav img {
  float: left;
}

/*    Desktop and Tablet  Navbar    */

#navbar {
  overflow: hidden;
  background-color: #3f3f3f;
}

#navbar ul {
  list-style: none;
}
/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;

}

#navbar a:hover{
  color: #a6178f;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* top padding  */
.sticky + .content {
  padding-top: 60px;
}

      /*    SLIDESHOW   */
 .slideshow {
  max-width: 100%;
  margin: 0;
  display: inline-table;
      }
 #slideshow-left {
 text-align: center;
 overflow: hidden;
 height: 510px;
 margin:0 0 ;
 width: 728px;
 float: left;
 border: 2px solid #a6178f;
      }
      
 #slideshow-right {
 text-align: center;
 overflow: hidden;
 height: 510px;
 width: 728px;
 float: right;
 border: 2px solid #a6178f;
      }
      
.slide-wrapper {
 width: 2912px;
 animation: slide 20s ease infinite;
      }
      
.slide-wrapper-right{
  width: 2912px;
  animation: slide 20s ease infinite;
      }
.slide {
 float: left;
 height: 510px;
 width: 728px;
      }
      
.slide:nth-child(1) {
 background-image: url("/images/slides/1.jpg");
 background-repeat: round;
      }
      
.slide:nth-child(2) {
 background-image: url("/images/slides/2.jpg");
 background-repeat: round;
      }
      
 .slide:nth-child(3) {
 background-image: url("/images/slides/3.jpg");
 background-repeat: round;
      }
      
.slide:nth-child(4) {
 background-image: url("/images/slides/4.jpg");
 background-repeat: round;
      }
      
.slide-right {
 float: right;
 height: 510px;
 width: 728px;
      }

.slide-right:nth-child(1) {
 background-image: url("/images/slides/5.jpg");
 background-repeat: round;
      }

.slide-right:nth-child(2) {
 background-image: url("/images/slides/6.jpg");
 background-repeat: round;
      }

.slide-right:nth-child(3) {
 background-image: url("/images/slides/7.jpg");
 background-repeat: round;
      }

      .slide-right:nth-child(4) {
 background-image: url("/images/slides/8.jpg");
 background-repeat: round;
      }
      
.about-gym {
 color: #3f3f3f;
 background-color: #fafafa;
 padding-top: 222px;
 width: 447px;
 float: left;
 height: 510px;
 text-align: center;
 font-size: 26px;
 border: 2px solid #a6178f;
      }

 @keyframes slide {
 20% {margin-left: 0px;}
 30% {margin-left: -728px;}
 50% {margin-left: -728px;}
 60% {margin-left: -1456px;}
 70% {margin-left: -1456px;}
 80% {margin-left: -2184px;}
 90% {margin-left: -2184px;}
      }
      
/*      home    */


.info {
  position: relative;
  padding: 0px 15px 0 15px;
  font-weight: 400;
}

.welcome {
 
  letter-spacing: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  padding-left: 10px;
  font-weight: 400;
  padding-left: 25px;
  border-radius: 1%;
}

.welcome h1 {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0px 50px 25%;
  font-weight: 900;
  text-transform: capitalize;
}

.welcome iframe {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 35px;
  font-weight: bolder;
  
}

.mma-info {
  letter-spacing: 2px;
  padding: 15px 15px 4px 15px;
  display: block;
  margin-top: 55px;
  margin-bottom: 133px;
  padding-left: 25px;
  border-radius: 1%;

}

.mma-info p {
  font-family: 'Roboto', sans-serif;
}

/*      about us    */

.about {
    margin-top: 8vw;
    text-align: center;
    max-width: 80%;
    margin-left: 193px;
}

.about p {
  font-weight: 600;
  padding: 25px;
  text-align: center;
}

.about hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-top: 3px solid #a6178f
}


#coach {
  height: 400px;
  width: 400px;
  object-fit: fill;
  border-radius: 48%;
  border: 5px #a6178f solid;
  margin: 0;
}

#fighters {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: fill;
  border: 5px #a6178f solid;
  margin: 5% 0 0 40%;
}

.fighters hr {
  border-top: 2px solid #a6178f;
}

.fighters p {
  font-weight: 600;
  padding: 25px;
  text-align: center;
  max-width: 80%;
  margin-left: 13vw;
}

.fighters iframe {
  margin: 0 0 0 40%;
}

/*      timetabel    */

.timetabel {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.timetabel h1 {
  font-weight: 800;
  margin: 55px 0 65px 0;
}

.timetabel th {
  text-align: center;
  padding: 2px;
  background-color: #3f3f3f;
  color: #fafafa;
  border: 2px #a6178f solid;
  font-weight: 600;
  width: 100vw;
  padding: 20px 20px 5px 20px;
}

.timetabel th:hover {
  background-color: #fafafa;
  color: #3f3f3f;
}

/*    Mobile timetabel*/
.mobile-tabel{
  margin: 85px auto;
}
.mobile-tabel thead {
  border-bottom: 15px solid #a6178f;
}
.mobile-tabel th {
  text-align: center;
  padding: 2px;
  background-color: #3f3f3f;
  color: #fafafa;
  border: 2px #a6178f solid;
  font-weight: 600;
  width: 100vw;
  padding: 20px 20px 5px 20px;
}

.mobile-tabel th:hover {
  background-color: #fafafa;
  color: #3f3f3f;
}


.explanation li {
  list-style: none;
}

.explanation h5 {
  text-transform: uppercase;
}

.explanation hr {
  border-top: 2px #a6178f solid;
}

/*      contact    */

.map {
  text-transform: uppercase;
  margin-top: 80px;
  margin-left: 350px;
  margin-right: 350px;
}

.map h2 {
    margin-left: 5%;
}

.form {
  border: 5px #a6178f solid;
  margin: 55px 25px 25px 160px;
  text-align: center;
  max-width: 83%;
}

.form:hover {
  background-color: #3f3f3f;
  color: #fafafa;
}

.form h2 {
  text-align: center;
  padding-top: 25px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
}

.form label {
  display: block;
  font-weight: 800;
}

#subject {
  resize: horizontal;
  max-width: 86%;
  width: 97vw;
  margin-left: 141px;
  display: block;
  border: 5px #a6178f solid;
}

.message-box {
    display: flow-root;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px;
}

.message-box label {
  font-size: 3.0rem;
  margin-left: 45%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.message-box input {
  margin-left: 48%;
  margin-top: 10px;
}

/*      footer    */

.footer {
  bottom: 0;
  width: 100vw;
  height: 167px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border: 5px #a6178f solid;
}

.visit {
  width: 33%;
  border-left: 5px #a6178f solid;
  height: 161px;
}

.call {
  float: left;
  width: 33%;
}

.social {
  bottom: 0;
  width: 33%;
  display: inline;
  color: #fafafa;
  height: 161px;
  border-left: 5px #a6178f solid;
}

.social a {
  color: #fafafa;
  text-decoration: none;
  font-size: 2.0rem;
  letter-spacing: 5px;
}

.social-links li {
  display: inline;
  letter-spacing: 5px;
}

/*      Media    */

/* Larger than mobile */
@media (min-width: 320px) {

.welcome iframe {
  width: 61vw;
  height: 86vw;
  margin-left: 12vw;
  }
.welcome h1 {
  margin: 5vw 18vw;

}
.mma-info{
  margin-bottom: 6vw;
}
.call {
     display: none;
 }
 .desktop-nav {
  display: none;
}
 .slideshow {
   display: none;
 }
 
 .about{
  margin-left: 33px;
}
#coach {
  margin:  0 auto;
  height: 55vw;
  width: 55vw;
}
.coach {
  margin: 155px 0;
}
.coach iframe {
  width: 85vw;
}
#fighters {
  height: 55vw;
  width: 55vw;
  margin: 0 81px;
}
.fighters iframe {
  margin: 0 31px;
  width: 85vw;
}
.desktop-tabel{
  display: none;
}
.explanation {
  min-width: 80%;
}
.form {
  margin: 0 8vw;
}
.message-box {
  margin: 0;
}
.message-box label {
  margin: 5vw 0;
}
.message-box input {
  margin: 5vw 20vw;
}
#subject {
  margin: 0;
}

 .visit {
     display: none;
 }

.social {
    display: flex;
}

.social-links {
  margin: 8vw 0 ;
}

}

/* Larger than phablet */
@media (min-width: 550px) {
.welcome iframe {
  width: 60vw;
  height: 80vh;
  margin-left: 1vw;
  }
.mma-info h1{
  margin: 3vw 32vw;
  background-color: #a6178f;
}


.call {
 display: none;
 }

.desktop-nav {
  display: none;
}
 .slideshow {
   display: none;
 }

 .fighters h1 {
  margin: 48px 815px;
 }
 .fighters h2 {
  margin: 0 40vw;
}
.timetabel {
  display: grid;
}

 .visit {
     display: grid;
 }

.social {
    display: contents;
}  
}

/* Larger than tablet */
@media (min-width: 750px) {

  .welcome iframe {
    width: 80vw;
    height: 60vh;
  }

 .call {
     display: none;
 }
 .desktop-nav {
  display: none;
}
 .slideshow-left .about-gym {
   display: none;
 }
 .desktop-tabel {
  display: none;
 }

 .visit {
     display: grid;
 }
.call {
  display: grid;
}


.social {
    display: grid;
}
.topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    width: 100%;
  }
}
.topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  
  }



/* Larger than desktop */

@media (min-width: 1000px) {
.welcome iframe {
  width: 80vw;
  height: 80vh;
  }
  .mma-info h1 {
    background-color: brown;
  }

.mobile-nav{
  display: none;
}
.desktop-nav{
  display: contents;
}
.timetabel h1 {
  margin: 8vw 0;
}
.mobile-tabel {
  margin: 0 auto;
}
.visit {
  display: grid;
}
.call {
display: grid;

}
.social {
 display: grid;
}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
.welcome iframe {
  width: 80vw;
  height: 80vh;
  }
  .mma-info h1 {
    background-color: red;
  }
.slideshow {
  display: flex;
}
.mobile-tabel  {
  display: none;
}
.desktop-tabel {
  display: contents;
}
.visit {
  display: grid;
}
.call {
display: grid;

}
.social {
 display: grid;
}
.footer {
  display: grid;
}
}